@charset "UTF-8";
@font-face {
  font-family: "Inconsolata-Font";
  src: url("../fonts/Inconsolata-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

* {
  font-family: "Inconsolata-Font", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background:
    url("../images/pattern-squiggly-line-bottom-desktop.svg") no-repeat left
      bottom / 700px,
    url("../images/pattern-squiggly-line-top.svg") no-repeat right top / 500px,
    url("../images/pattern-lines.svg") no-repeat center center / auto,
    url("../images/background-desktop.png") no-repeat center center / cover;
}

body > h2 {
  position: absolute;
  top: 0;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  margin: 0;
  padding-top: 13px;
  color: white;
  transform: translate(-50%) scale(0.70);
}

main {
  position: absolute;
  top: 0;
    
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  transform: scale(0.8);
}

header {
  text-align: center;
}

header > h2 > img {
  width: 30px;
}

header > h1 {
  color: white;
  font-size: 2.8rem;
  width: 700px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
}

header p:first-of-type {
  color: hsl(252, 6%, 83%);
  font-size: 1.1rem;
  margin: 0;
  margin-top: 15px;
}

section#center {
  display: flex;
  justify-content: center;
  flex-flow: column;

  background: url("../images/pattern-circle.svg") no-repeat right center / 180px;
  width: 750px;
  transform: scale(0.98);
  
}

aside {
  align-self: center;
  width: 450px;
}

aside > p {
  color: white;
}

aside > .upload-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 15px;
  background-color: rgba(183, 183, 255, 0.073);
  border: 1.6px dashed rgba(255, 255, 255, 0.34);
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.upload-avatar:hover {
  background-color: rgba(255, 255, 255, 0.193);
}

.upload-avatar.drag-over {
  background: rgba(255, 255, 255, 0.299);
  border: 2px solid white;
}

.upload-avatar > .around-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px 10px 8px;
  background-color: rgba(255, 255, 255, 0.123);
  border: 1px solid rgba(255, 255, 255, 0.116);
  border-radius: 13px;
}

.upload-avatar > .around-img > img {
  width: 30px;
  height: 25px;
}

.upload-avatar > .send {
  text-align: center;
}

.upload-avatar > .send > p {
  display: block;
  color: hsl(252, 6%, 83%);
  margin-bottom: 0;
}

.upload-avatar > .send .btnImg {
  display: none;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.107);
  border: 1px solid rgba(255, 255, 255, 0.158);
  border-style: solid;
  border-radius: 3px;
  color: white;
  padding: 4px 7px;
  cursor: pointer;
}

.btnVisible {
  display: inline;
}

.info-upload > p {
  color: hsl(252, 6%, 83%);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

form {
  /* display: flex;
  flex-flow: column;
  row-gap: 8px; */
  align-self: center;
  width: 450px; 

  margin-top: 13px;
}

.info-error {
  display: flex;
  align-items: center;
  column-gap: 5px;
  height: 20px;

  color: #f37362;
  font-size: 0.8rem;
  margin: 5px 0 5px 0;
}

.info-img {
  width: 15px;
  height: 15px;
}

form p:last-of-type {
  margin-bottom: 0;
}

form label {
  color: white;
}

form > .around-input {
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 15px;

  padding: 3.5px;
  transition: border 0.3s;
}

form > .around-input:has(input:focus) {
  border-color: rgba(255, 255, 255, 0.713);
}

form > .around-input input {
  background-color: rgba(255, 255, 255, 0.071);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.461);
  border-radius: 10px;
  height: 50px;
  font-size: 1.2rem;
  padding: 10px;
  width: 100%;
  transition: background-color 0.5s;
  /* margin-bottom: 15px; */
}

form > .around-input input:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.193);
}

form input::placeholder {
  color: hsl(252, 6%, 83%);
  font-size: 1rem;
}

form input:focus {
  outline: 0;
}

/* form input:focus {
  border: 1px solid white;
} */

form button {
  display: block;
  padding: 15px;
  background-color: hsl(7, 88%, 67%);
  color: hsl(248, 70%, 10%);
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bolder;
  width: 100%;
  cursor: pointer;
  margin: auto;
  transition: background-color 0.5s;
}

form button:hover {
  background-color: hsl(7, 99%, 58%);
}

/* Garante que o ticket comece escondido */
section#ticket {
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
}

section#ticket h1 {
  color: rgb(255, 255, 255);
  font-size: 2.8rem;
  width: 700px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}

/* [OPCIONAL] Adicione uma classe utilitária de controle no final do CSS */
.hidden {
  display: none !important;
}

.show-ticket {
  display: flex !important;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
